@charset "UTF-8";
#boardHeader {
            margin:25px 15px 25px 15px; 
            color:black
        }

        #boardheader *{
            font-weight: bold;
        }

        .searchbar{margin-left:20px;}

        b{
            font-size:20px; 
            color:black
        }

        .tableOption{
            display:flex; 
            justify-content: space-between;
        }

        .board-content td, table th{
            color:black;
            text-align:center;
            cursor: pointer;
        }

        tbody tr:hover{
            background-color:rgb(236, 233, 233);
        }

        .btn_two_spacing{margin: 0 0 10px 20px}

        .main_width{
            display:flex; 
            align-items: center;
            width:100%;
        }

        .btn_two_spacing button{
            background-color: white;
            border:0; 
        }
        .btn_two_spacing i{
            padding-right:15px;
        }
        h2{
            font-weight: 600;
        }
        .board-tbody td{
            font-size: 17px;
            font-weight: 500;
        }
        .bWrite-btn{
            background-color: white;
            border: 2px solid #5e7e9b;
            color: black;
            height:35px;
            line-height: 20px;
            margin-bottom:5px;
        }