<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
 
 
	<resultMap id="publicAddResult" type="Member">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_name" property="memName"/>
		<result column="dept_name" property="deptCode"/>
		<result column="job_name" property="jobCode"/>
		<result column="mem_phone" property="memPhone"/>
		<result column="mem_businessnum" property="memBusinessnum"/>
		<result column="mem_email" property="memEmail"/>
		<result column="mem_birth" property="memBirth"/>
		<result column="mem_postal_code" property="memPostalCode"/>
		<result column="mem_postal_ad" property="memPostalAd"/>
		<result column="mem_postal_detail" property="memPostalDetail"/>
		<result column="mem_postal_refer" property="memPostalRefer"/>
		<result column="mem_enroll_date" property="memEnrollDate"/>
		<result column="mem_resign_date" property="memResignDate"/>
		<result column="mem_resign_status" property="memResignStatus"/>
		<result column="mem_profile" property="memProfile"/>
	</resultMap>
	
	<resultMap id="addressResult" type="Address">
		<result column="add_per_no" property="addPerNo" />
		<result column="mem_no" property="memNo" />
		<result column="add_no" property="addNo" />
		<result column="add_name" property="addName" />
		<result column="add_dept" property="addDept" />
		<result column="add_job" property="addJob" />
		<result column="add_phone" property="addPhone" />
		<result column="add_email" property="addEmail" />
		<result column="add_memo" property="addMemo" />
		<result column="add_enroll_date" property="addEnrollDate" />
	</resultMap>
	
	<!-- 재직중인 사원 수 조회 -->
	<select id="selectListCount" resultType="_int">
		select
			count(*)
		from tb_member
		where mem_resign_status = 'N'
	</select>
	
	<!-- 공용 주소록에 들어갈 사원 목록 조회 -->
	<select id="selectAddressList" resultMap="publicAddResult">
		select
			  mem_no
			, mem_name
			, dept_name
			, job_name
			, mem_businessnum
			, mem_email
			, mem_phone
		from tb_member
		 join tb_job using (job_code)
		 join tb_department using (dept_code)
		where mem_resign_status = 'N'
		order
			by mem_no
	</select>
	
	<select id="basicAddressNum" resultType="_int">
		select 
		    add_no
		from tb_add_out
		where mem_no = #{memNo}
		  and rownum = 1
		order by add_no
	</select>

	<select id="selectAddIndivList" resultMap="addressResult">
		select
		    add_per_no
		  , ao.mem_no "mem_no"
		  , ao.add_no "add_no"
		  , a.add_name "add_name"
		  , add_dept
		  , add_job
		  , add_phone
		  , add_email
		  , add_memo
		  , ao.add_enroll_date "add_enroll_date"
		from tb_address a
		join tb_add_out ao on (ao.add_no = a.add_no)
		where ao.mem_no = #{memNo}
		  and ao.add_no = #{addNo}
		order 
			by add_per_no			
	</select>
	
	<select id="selectAddCategory" resultMap="addressResult">
		select
			add_no
		  , add_name
		  , mem_no
		from tb_add_out
		where mem_no = #{memNo}
		order 
		    by add_no asc
	</select>
	
	<!-- 개인 주소록 그룹 추가 -->
	<insert id="insertAddIndiv">
		insert 
		    into tb_add_out
		    (
		     add_no
		   , mem_no
		   , add_name
		    )
		  values
		   (
		    seq_aono.nextval
		  , #{memNo}
		  , #{addName}
		   )
	</insert>
	
	<!-- 해당 개인주소록에 등록된 연락처 수 조회 -->
	<select id="selectIndivNumCount" resultType="_int">
		select 
		    count(*)
		from tb_address
		where mem_no = #{memNo}
		  and add_no = #{addNo}
	</select>
	
	<!-- 해당 주소록 그룹에 연락처 추가하기 -->
	<insert id="insertAddIndivNum">
		INSERT 
		    INTO TB_ADDRESS
		    (
			     ADD_PER_NO
			   , MEM_NO
			   , ADD_NO
			   , ADD_NAME
			   , ADD_DEPT
			   , ADD_JOB
			   , ADD_PHONE
			   , ADD_EMAIL
			   , ADD_MEMO
		   	)
		   VALUES
		   (
			    SEQ_ADNO.NEXTVAL
			  , #{memNo}
			  , #{addNo}
			  , #{addName}
			  , #{addDept}
			  , #{addJob}
			  , #{addPhone}
			  , #{addEmail}
			  , #{addMemo}
		  	)
	</insert>
	
	<!-- 주소록 그룹 삭제시 해당 그룹 연락처 모두 삭제 -->
	<delete id="deleteAllIndivAddNum">
		delete 
		    from tb_address
		where mem_no = #{memNo}
		  and add_no = #{addNo}
	</delete>
	
	<!-- 주소록 그룹 삭제 -->
	<delete id="deleteIndivAddressBook">
		delete
		    from tb_add_out
		where mem_no = #{memNo}
		  and add_no = #{addNo}
	</delete>
	
	<!-- 선택한 연락처들만 삭제 -->
	<delete id="deleteIndivAddNum">
		delete
			from tb_address
		  where add_per_no in 
				<foreach item="addPerNo" index="i" collection="array"
					open="(" separator="," close=")">
					#{addPerNo}
				</foreach>
	</delete>
	
	<!-- 선택한 연락처 정보 조회 -->
	<select id="selectAddInfo" resultMap="addressResult">
		select
		    add_per_no
		  , mem_no
		  , add_no
		  , add_name
		  , add_dept
		  , add_job
		  , add_phone
		  , add_email
		  , add_memo
		from tb_address
		where add_per_no = #{addPerNo}
	</select>
	
	<!-- 선택한 연락처 정보 수정 -->
	<update id="updateIndivAddress">
		update
			 tb_address
		   set add_no = #{addNo}
		     , add_name = #{addName}
		     , add_dept = #{addDept}
		     , add_job = #{addJob}
		     , add_phone = #{addPhone}
		     , add_email = #{addEmail}
		     , add_memo = #{addMemo}
		     , add_enroll_date = sysdate
		   where add_per_no = #{addPerNo}
	</update>
	
	<!-- 연락처 검색시 나오는 연락처 수 조회 (개인 주소록) -->
	<select id="searchIndivCount" resultType="_int">
			select
			    count(*)
			from tb_address
			where (add_name like '%' || #{keyword} || '%'
			  or add_dept like '%' || #{keyword} || '%'
			  or add_job like '%' || #{keyword} || '%'
			  or add_phone like '%' || #{keyword} || '%'
			  or add_email like '%' || #{keyword} || '%'
			  or add_memo like '%' || #{keyword} || '%')
			  and mem_no = #{memNo}
			  and add_no = #{addNo}
			order
				by add_per_no
	</select>
	
	<!-- 연락처 검색시 나오는 연락처 목록 조회 (개인 주소록) -->
	<select id="searchIndivAdd" resultMap="addressResult">
			select
			    add_per_no
			  , mem_no
			  , add_no
			  , add_name
			  , add_dept
			  , add_job
			  , add_phone
			  , add_email
			  , add_memo
			from tb_address
			where (add_name like '%' || #{keyword} || '%'
			  or add_dept like '%' || #{keyword} || '%'
			  or add_job like '%' || #{keyword} || '%'
			  or add_phone like '%' || #{keyword} || '%'
			  or add_email like '%' || #{keyword} || '%'
			  or add_memo like '%' || #{keyword} || '%')
			  and mem_no = #{memNo}
			  and add_no = #{addNo}
			order 	
				by add_per_no
	</select>
	
	<!-- 연락처 검색시 나오는 연락처 수 조회 (전사 주소록) -->
	<select id="searchPublicCount" resultType="_int">
		select
			 count(*)
		from tb_member
		 join tb_job using (job_code)
		 join tb_department using (dept_code)
		where mem_resign_status = 'N'
          and (mem_no like '%' || #{keyword} || '%'
          or mem_name like '%' || #{keyword} || '%'
          or dept_name like '%' || #{keyword} || '%'
          or job_name like '%' || #{keyword} || '%'
          or mem_businessnum like '%' || #{keyword} || '%'
          or mem_email like '%' || #{keyword} || '%'
          or mem_phone like '%' || #{keyword} || '%'
          )          
		order
			by mem_no
	</select>
	
	<!-- 연락처 검색시 나오는 연락처 목록 조회 (전사 주소록) -->
	<select id="searchPublicAdd" resultMap="publicAddResult">
		select
			  mem_no
			, mem_name
			, dept_name
			, job_name
			, mem_businessnum
			, mem_email
			, mem_phone
		from tb_member
		 join tb_job using (job_code)
		 join tb_department using (dept_code)
		where mem_resign_status = 'N'
          and (mem_no like '%' || #{keyword} || '%'
          or mem_name like '%' || #{keyword} || '%'
          or dept_name like '%' || #{keyword} || '%'
          or job_name like '%' || #{keyword} || '%'
          or mem_businessnum like '%' || #{keyword} || '%'
          or mem_email like '%' || #{keyword} || '%'
          or mem_phone like '%' || #{keyword} || '%'
          )          
		order
			by mem_no
	</select>

</mapper>
