<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarmMapper">

	<insert id="insertAlarm">
		insert 
		  into tb_alarm
		  (
		  	al_no
		  , al_target_mno
		  , al_category
		  , al_board_no
		  , al_content
		  )
		  values
		  (
		  	seq_alno.nextval
		  , #{boardWriter}
		  , #{cmd}
		  , #{boardNo}
		  , #{alarmContent}
		  )
	</insert>


</mapper>
