<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="promotionMapper">

	<resultMap id="replyResult" type="Reply">
		<result column="reply_no" property="replyNo" />
		<result column="re_board_no" property="reBoardNo" />
		<result column="reply_depth" property="replyDepth" />
		<result column="reply_parent" property="replyParent" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_writer" property="replyWriter" />
		<result column="reply_job" property="replyJob" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_status" property="replyStatus" />
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="mem_no" property="memNo" />
		<result column="mem_name" property="memName" />
		<result column="dept_code" property="deptCode" />
		<result column="job_code" property="jobCode" />
		<result column="job_name" property="jobName" />
		<result column="mem_profile" property="memProfile" />
	</resultMap>
	
	<resultMap id="attachResult" type="Attachment">
		<result column="at_no" property="atNo" />
		<result column="at_origin_name" property="atOriginName" />
		<result column="at_change_name" property="atChangeName" />
	</resultMap>
	
	<resultMap id="promotionResult" type="Promotion">
		<result column="promo_no" property="promoNo" />
		<result column="promo_title" property="promoTitle" />
		<result column="promo_cate_no" property="promoCateNo" />
		<result column="promo_writer" property="promoWriter" />
		<result column="promo_content" property="promoContent" />
		<result column="promo_count" property="promoCount" />
		<result column="promo_create_date" property="promoCreateDate" />
		<result column="promo_status" property="promoStatus" />
		<collection property="member" resultMap="memberResult" />
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from 
			    (		  
				 select promo_no
					 , promo_title
					 , promo_cate_no
					 , promo_writer
					 , to_char(promo_create_date, 'YYYY-MM-DD') as "promo_create_date"
					 , promo_status
				   from tb_promo
				   join tb_member m on (promo_writer = mem_no)
                   join tb_job j on (m.job_code = j.job_code)
				  where 1 = 1
					 <if test="no !=  null and no neq ''">
					 	and promo_cate_no = #{no}
					 </if>
					 <if test="keyword != null and keyword neq ''">
					    and (mem_name || ' ' || job_name) like '%' || #{keyword} || '%'
					 </if>
				 union
				 select promo_no
					 , promo_title
					 , promo_cate_no
					 , promo_writer
					 , to_char(promo_create_date, 'YYYY-MM-DD') as "promo_create_date"
					 , promo_status
				   from tb_promo
				   join tb_member m on (promo_writer = mem_no)
                   join tb_job j on (m.job_code = j.job_code)
				  where 1 = 1
					 <if test="no !=  null and no neq ''">
					 	and promo_cate_no = #{no}
					 </if>
					 <if test="keyword != null and keyword neq ''">
					    and promo_title like '%' || #{keyword} || '%'
					 </if>
				)
		 where promo_status = 'Y'
	</select>
	
	<select id="selectPromoList" resultMap="promotionResult">
		select *
		  from (
				select *
				  from (
						select promo_no
							 , promo_title
							 , promo_cate_no
							 , m.mem_name || ' ' || j.job_name as "promo_writer"
							 , to_char(promo_create_date, 'YYYY-MM-DD') as "promo_create_date"
							 , promo_status
						  from tb_promo
						  join tb_member m on (promo_writer = mem_no)
                   		  join tb_job j on (m.job_code = j.job_code)
						 where 1 = 1
						   <if test="no != null and no neq ''">
						 		and promo_cate_no = #{no}
						   </if>
						   <if test="keyword != null and keyword neq ''">
						      and (mem_name || ' ' || job_name) like '%' || #{keyword} || '%'
						   </if>
						 )
				 where promo_status = 'Y'
				 union
				 select *
				  from (
						select promo_no
							 , promo_title
							 , promo_cate_no
							 , m.mem_name || ' ' || j.job_name as "promo_writer"
							 , to_char(promo_create_date, 'YYYY-MM-DD') as "promo_create_date"
							 , promo_status
						  from tb_promo
						  join tb_member m on (promo_writer = mem_no)
                   		  join tb_job j on (m.job_code = j.job_code)
						 where 1 = 1
						   <if test="no != null and no neq ''">
						 		and promo_cate_no = #{no}
						   </if>
						   <if test="keyword != null and keyword neq ''">
						     and promo_title like '%' || #{keyword} || '%'
						   </if>
						 )
				 where promo_status = 'Y'
				)
			 order
			    by promo_no desc
	</select>
	
	<select id="selectAtList" resultMap="attachResult">
		select at_no
			 , at_origin_name
			 , at_change_name
		  from tb_attachment
		 where at_status = 'Y'
		   and at_category = 4
		   and at_ref_bno in 
		   <foreach collection="array" item="arr" open="(" close=")" separator=",">
		 	#{arr}
		 </foreach>
	</select>
	
	<update id="deletePromoAt">
		update tb_attachment
		   set at_status = 'N'
		 where at_category = 4
		   and at_ref_bno in 
		   <foreach collection="array" item="arr" open="(" close=")" separator=",">
		 	#{arr}
		 </foreach>
	</update>
	
	<update id="deletePromo">
		update tb_promo
		   set promo_status = 'N'
		 where promo_no in 
		 <foreach collection="array" item="arr" open="(" close=")" separator=",">
		 	#{arr}
		 </foreach>
	</update>
	
	<update id="increaseCount">
		update tb_promo
		   set promo_count = promo_count + 1
		 where promo_no = #{no}
		   and promo_status = 'Y'
	</update>
	
	<select id="selectPromo" resultMap="promotionResult">
		select p.promo_no
			 , p.promo_title
			 , p.promo_cate_no
			 , m.mem_name 
			 , j.job_name as "job_name"
			 , m.job_code 
			 , p.promo_writer
			 , m.mem_profile
			 , p.promo_content
			 , p.promo_count
			 , to_char(p.promo_create_date, 'YYYY-MM-DD (DY)') as "promo_create_date"
		  from tb_promo p
		  join tb_member m on (promo_writer = mem_no)
		  join tb_job j on (m.job_code = j.job_code)
		 where p.promo_no = #{no}
		   and p.promo_status = 'Y'
	</select>
	
	<select id="selectAt" resultMap="attachResult">
		select at_no
			 , at_origin_name
			 , at_change_name
		  from tb_attachment
		 where at_status = 'Y'
		   and at_category = 4
		   and at_ref_bno = #{promoNo}
	</select>
	
	<select id="selectReplyList" resultMap="replyResult">
		select reply_no
			 , re_board_no
			 , reply_depth
			 , reply_parent
			 , reply_content
			 , reply_writer
			 , reply_job
			 , to_char(reply_date, 'YYYY-MM-DD (DY) HH24:MI') as "reply_date"
			 , reply_status
		  from tb_reply
		 where reply_type = 3
		   and re_board_no = #{promoNo}
		 start with reply_parent = 0
		 connect by prior reply_no = reply_parent
		 order siblings by reply_no asc, reply_parent asc 
	</select>
	
	<insert id="insertReply">
		insert
		  into tb_reply
		  (
		    reply_no
		  , reply_type
		  , re_board_no
		  , reply_depth
		  , reply_parent
		  , reply_content
		  , reply_writer
		  , reply_job
		  )
		  values
		  (
		    seq_reno.nextval
		  , 3
		  , #{reBoardNo}
		  , #{replyDepth}
		  , #{replyParent}
		  , #{replyContent}
		  , #{replyWriter}
		  , #{replyJob}
		  )
	</insert>
	
	<update id="updateReply">
		update tb_reply
		   set reply_content = #{replyContent}
		     , reply_mo_date = sysdate
		 where reply_no = #{replyNo}
	</update>
	
	<select id="selectReply" resultMap="replyResult">
		select reply_no
			 , re_board_no
			 , reply_depth
			 , reply_parent
			 , reply_content
			 , reply_writer
			 , reply_job
			 , to_char(reply_date, 'YYYY-MM-DD (DY) HH24:MI') as "reply_date"
			 , reply_status
		  from tb_reply
		 where reply_no = #{replyNo}
	</select>
	
	<update id="deleteReply">
		update tb_reply
		   set reply_status = 'N'
		 where reply_no = #{replyNo}
	</update>
	
	<update id="updatePromo">
		update tb_promo
		   set promo_title = #{promoTitle}
		     , promo_cate_no = #{promoCateNo}
		     , promo_writer = #{promoWriter}
		     , promo_content = #{promoContent}
		     , promo_modify_date = sysdate
		 where promo_no = #{promoNo}
	</update>
	
	<update id="updateAt">
		update tb_attachment
		   set at_origin_name = #{atOriginName}
		     , at_change_name = #{atChangeName}
		     , at_upload_date = sysdate
		 where at_category = 4
		   and at_ref_bno = #{atRefBno}
	</update>
	
	<insert id="insertPromo">
		insert
		  into tb_promo
		  (
		    promo_no
		  , promo_title
		  , promo_cate_no
		  , promo_writer
		  , promo_content
		  )
		  values
		  (
		    seq_prno.nextval
		  , #{promoTitle}
		  , #{promoCateNo}
		  , #{promoWriter}
		  , #{promoContent}
		  )
	</insert>
	
	<select id="selectLastNo" resultType="_int">
		select *
		  from (
		  		 select promo_no
		  		   from tb_promo
		  		  order
		  		     by promo_no desc
		  		)
		 where rownum = 1
	</select>
	
	<insert id="insertAt">
		insert
		  into tb_attachment
		  (
		    at_no
		  , at_ref_bno
		  , at_category
		  , at_origin_name
		  , at_change_name
		  )
		  values
		  (
		    seq_atno.nextval
		  , #{atRefBno}
		  , 4
		  , #{atOriginName}
		  , #{atChangeName}
		  )
	</insert>
  
</mapper>
