<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mappers namespace="promotionMapper">

	<resultMap id="promotionResult" type="Promotion">
	
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from tb_promo
		 where promo_status = 'Y'
	</select>
	
</mappers>