<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teacherMapper">

	<resultMap id="teacherResult" type="Teacher">
		<result column="class_no" property="classNo" />
		<result column="class_title" property="classTitle" />
		<result column="class_content" property="classContent" />
		<result column="class_objective" property="classObjective" />
		<result column="class_subject" property="classSubject" />
		<result column="class_student" property="classStudent" />
		<result column="class_start_date" property="classStartDate" />
		<result column="class_end_date" property="classEndDate" />
		<result column="mem_no" property="memNo" />
		<result column="class_approval" property="classApproval" />
		<result column="class_fee" property="classFee" />
		<result column="class_signup_date" property="classSignupDate" />
		<result column="mem_name" property="memName" />
	</resultMap>
	
	
	
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from tb_class
	</select>

	<select id="appAllListSelect" resultMap="teacherResult">
		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
         order
            by class_no desc
	</select>
	
	<insert id="appEnrollFormInsert">
		insert
		  into tb_class
		  (
		    class_no
		  , class_title
		  , class_content
		  , class_objective
		  , class_subject
		  , class_student
		  , class_start_date
		  , class_end_date
		  , mem_no
		  , class_approval
		  , class_status
		  , class_fee
		  , class_signup_date
		  )
		  values
		  (
		    seq_clno.nextval 
		  ,	#{classTitle}
		  ,	#{classContent}
		  ,	#{classObjective}
		  ,	#{classSubject}
		  ,	#{classStudent}
		  ,	#{classStartDate}
		  ,	#{classEndDate}
		  , #{memNo}
		  , default
		  , default
		  ,	#{classFee}
		  , sysdate
		  )
	</insert>
	
	<select id="selectAdminListCount" resultType="_int">
		select
		       count(*)
		  from tb_class
		 where class_status = 'Y'
		   and class_approval = 2
	</select>
	
	<select id="adminLectureList" resultMap="teacherResult">
		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_status = 'Y'
		   and class_approval = 2
         order
            by class_no desc
	</select>
	
	<select id="selectAppListCount" resultType="_int">
		select
		       count(*)
		  from tb_class
		 where class_status = 'N'
		   and class_approval = 1 
		    or class_approval = 3
	</select>
	
	<select id="adminAppLectureList" resultMap="teacherResult">
		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_status = 'N'
		   and class_approval = 1 
		    or class_approval = 3
         order
            by class_no desc
	</select>
	
	<select id="adminLectureDetailSelect" resultMap="teacherResult">
		select
			 class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_no = #{classNo}    
	</select>
	
	<update id="adminLectureUpdate">
		update
		       tb_class
		   set class_title = #{classTitle}
		     , mem_no = #{memNo}
		     , class_start_date = #{classStartDate}
		     , class_end_date = #{classEndDate}
		     , class_fee = #{classFee}
		     , class_signup_date = sysdate
		     , class_content = #{classContent}
		 where class_no = #{classNo}  
	</update>
	
	<delete id="adminLectureDelete">
		delete
		  from tb_class
		 where class_no = #{classNo}
	</delete>
	
	<select id="adminAppLectureDetailSelect" resultMap="teacherResult">
		select
			   class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_no = #{classNo}    
	</select>
	
	<update id="appLectureStatus">
		update
		       tb_class
		   set class_approval = #{classApproval}
		     , class_status = 'Y'
		 where class_no = #{classNo}  
	</update>
	
	<select id="searchAdminListCount" resultType="_int">
  		select
  		       count(*)
  		  from tb_class c
  		  join tb_member m on(c.mem_no = m.mem_no)
  		 where class_status = 'Y'
  		   and class_approval = 2
  		 <if test="condition == 'classTitle'">
  		   and class_title
  		 </if>
  		 <if test="condition == 'memName'">
  		   and mem_name
  		 </if>
  		 	like '%' || #{keyword} || '%'
  	</select>
  	
  	<select id="adminSearchForm" resultMap="teacherResult">
  		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_status = 'Y'
		   and class_approval = 2
		 <choose>
		 	<when test="condition == 'classTitle'">
           	   and class_title 
         	</when>  
	        <when test="condition == 'memName'">
	           and mem_name
	        </when>  
         </choose>
               like '%' || #{keyword} || '%'
		 order
		    by class_no desc
  	</select>
  	
  	<select id="searchAdminAppListCount" resultType="_int">
  		select
  		       count(*)
  		  from tb_class c
  		  join tb_member m on(c.mem_no = m.mem_no)
  		 where class_status = 'N'
  		   and class_approval = 1 or class_approval = 3
  		 <if test="condition == 'classTitle'">
  		   and class_title
  		 </if>
  		 <if test="condition == 'memName'">
  		   and mem_name
  		 </if>
  		 	like '%' || #{keyword} || '%'
  	</select>
  	
  	<select id="adminAppSearchForm" resultMap="teacherResult">
  		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_status = 'N'
		   and (class_approval = 1 or class_approval = 3)
		 <choose>
		 	<when test="condition == 'classTitle'">
           	   and class_title 
         	</when>  
	         <when test="condition == 'memName'">
	           and mem_name
	         </when>  
         </choose>
               like '%' || #{keyword} || '%'
		 order
		    by class_no desc
  	</select>
	
	
		
	<select id="ajaxAdminList" resultMap="teacherResult">
		select
		       class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where class_status = 'Y'
		   and class_approval = 2
		 <choose>
			 <when test="#{select eq 'new'}"> 
		         order
		            by class_signup_date desc
		     </when>
             <when test="#{select eq 'old'}"> 
		         order
		            by class_signup_date desc
		    </when>        
            <otherwise>
		         order
		            by mem_name 
            </otherwise>
         </choose>
	</select>
	
	<select id="searchAppListCount" resultType="_int">
  		select
  		       count(*)
		  from tb_class c
		  join tb_member m on(c.mem_no = m.mem_no)
		 where 
  		 <if test="condition == 'classTitle'">
  		   class_title
  		 </if>
  		 <if test="condition == 'memName'">
  		   mem_name
  		 </if>
  		 	like '%' || #{keyword} || '%'
  	</select>
  	
  	<select id="appLectureSearchList" resultMap="teacherResult">
  		select
		      class_no
		     , class_title
		     , class_content
		     , class_objective
		     , class_subject
		     , class_student
		     , class_start_date
		     , class_end_date
		     , c.mem_no
		     , class_approval
		     , class_fee
		     , class_signup_date
		     , mem_name
		  from tb_class c
		  join tb_member m on (c.mem_no = m.mem_no)
         where
		 <choose>
		 	<when test="condition == 'classTitle'">
           	   class_title 
         	</when>  
	         <when test="condition == 'memName'">
	           mem_name
	         </when>  
         </choose>
               like '%' || #{keyword} || '%'
		 order
		    by class_no desc
  	</select>
	
	
	
	
</mapper>